@media (max-width:768px) {
    /* wid고정 ==> 100% 
       row => column */
    .inner{
        width: 100%;
    }

    nav{
        width: 100%;
    }

    .heading h1{
        font-size: 30px;
    }

    .heading p{
        font-size: 20px;
    }

    .about-content{
        flex-direction: column;
    }
    .ranking-content h2{
        font-size: ;
    }

    .items{
        flex-direction: column;
        justify-content: center;
    }

    .down
}